<!-- START FRANCHISE CONTAINER -->
<div id="rewardscontainer">
	<!-- START FRANCHISE CONTENT -->
	<div id="rewardscontent">
		<div id="rewardsbull"></div>
		<div id="rewardsbull"></div>
		<div id="rewardsheading">
			<h2>Are You In Or Out ?</h2>
			<h1>Ranch</br>Rewards</h1>
		</div>
		<div id="rewardslinks">
			<%= link_to "Terms Of Use", {:controller => "company_stuff", :anchor => "terms"}, :class => "links" %>
			<%= link_to root_path(:controller => 'main'), :class => 'links' do %>
			   Back To Main
			<% end %>
		</div>
		<% if !flash[:error].blank? %>
			<div id="noticecontent">
      			<h4 class="noticeerror"><%= flash[:error] %></h4>
			</div>
		<% end %>
		<% if !flash[:notice].blank? %>
			<div id="noticecontent">
      			<h4 class="noticesuccess"><%= flash[:notice] %></h4>
			</div>
		<% end %>
		<%= form_for(:mailing_list, :url => {:action => 'create'}) do |f| %>
    		<%= render(:partial => "form", :locals => {:f => f}) %>    
    	<% end %>
	</div>
	<!-- END FRANCHISE CONTENT -->
</div>
<!-- END FRANCHISE CONTAINER -->
