<div id="menunavigation">
	<ul>
		<%= link_to '#m_chicken', :id => 'chicken_link' do %>
		<li>Mash's Famous Chicken</li>
		<% end %>

		<%= link_to '#m_burgers', :id => 'burgers_link' do %>
		<li>Signature Burgers</li>
		<% end %>

		<%= link_to '#m_hotdogs', :id => 'hotdogs_link' do %>
		<li>Hot Dog Cart</li>
		<% end %>

		<%= link_to '#m_subs', :id => 'subs_link' do %>
		<li>Grilled Subs</li>
		<% end %>

		<%= link_to '#m_wraps', :id => 'wraps_link' do %>
		<li>Wraps & Salads</li>
		<% end %>

		<%= link_to '#m_sizzlers', :id => 'sizzlers_link' do %>
		<li>Teppanyaki & Sizzlers</li>
		<% end %>

		<%= link_to '#m_sides', :id => 'sides_link' do %>
		<li>Mash's  Sides</li>
		<% end %>

	</ul>
</div>