<!-- START HEADER CONTAINER -->
		<div id="headercontainer">
			<!-- START HEADER CONTENT -->
			<div id="headercontent">
				<div id="headerbg">
					<%= link_to root_path(:controller => 'main'), :id => 'landing_links' do %>
  					<div id="headerlogo"></div>
					<% end %>
					<%= link_to root_path(:anchor => :rewards), :id => 'rewards_link' do %>
					<div id="headercard"></div>
					<% end %>
					<div id="headernavigation">
						<ul>

							<%= link_to root_path(:anchor => :menu), :id => 'menu_link' do %>
							<li>Menu</li>
							<% end %>

							<%= link_to root_path(:anchor => :sauces), :id => 'sauces_link' do %>
							<li>Sauces</li>
							<% end %>

							<%= link_to root_path(:anchor => :ranches), :id => 'ranches_link' do %>
							<li>Ranches</li>
							<% end %>

							<%= link_to root_path(:anchor => :order), :id => 'order_link' do %>
							<li>Order</li>
							<% end %>

							<%= link_to root_path(:anchor => :franchise), :id => 'franchise_link' do %>
							<li>Franchise</li>
							<% end %>

							<%= link_to root_path(:anchor => :about), :id => 'about_link' do %>
							<li>About</li>
							<% end %>

						</ul>
					</div>
   					<%= link_to root_path(:anchor => :social), :id => 'social_link' do %>
					<div id="headersociallinks"></div>
					<% end %>
				</div>
			</div>
			<!-- END HEADER CONTENT -->
		</div>
		<!-- END HEADER CONTAINER -->